@model CMBooks.BusinessLogic.Models.BookViewModel 

<div class="modal right fade" id="book-details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">@Model.Title</h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="column image-details">
                        <img src="@Model.PictureUrl" style="max-height:300px;max-width:100%;text-align: center">
                    </div>
                    <div class="column description-details">
                        <div style="display:inline-block;width: 100%; ">
                            <div style="display:inherit">
                                <h4>
                                    Author:
                                </h4>
                                <p>
                                    @Model.Author
                                </p>
                            </div>
                            <div style="float:right; margin-right: 20px">
                                <span class="my-rating" data-rating="@Model.Rate"></span>
                            </div>
                        </div>
                            <h4>
                                Genre:
                            </h4>
                            <p>
                                @Model.Genre
                            </p>
                            <h4>
                                Description
                            </h4>
                            <p style="overflow:hidden;">
                                @Model.Description
                            </p>
                        
                    </div>
                </div>
                <div class="comments">
                    <h4>
                        Comments
                    </h4>
                    <textarea placeholder="Add your comment here..." cols="100" rows="5" style="width:100%"></textarea>
                </div>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->

<script>
     $(".my-rating").starRating({
               strokeColor: '#894A00',
               strokeWidth: 10,
               starSize: 25,
               callback: function (currentRating, $el) {
                   var postData = {
                       "UserId": "@Session["UserId"]",
                       "BookId": "@Model.Id",
                       "Rate1": currentRating
                   }
                   AjaxHelper.post("Rate/CreateRate", postData,
                       function (response) {
                           debugger
                       },
                       function () {
                           debugger
                       }
                   )
               }
           });
</script>
