@model IList<CMBooks.DataLayer.Book>


@foreach (var book in Model)
{
    <div class="book-container">
        <div class="book-image">
            <img src="@book.PictureUrl" id="@book.Id" onclick="showDetailsModal('@book.Id')">
        </div>
        <div class="book-text">
            <h4 style="margin-top:5px;">@book.Title (@book.Author)</h4>
            <p>| @book.Genre</p>
            @*<div class="star-ratings">
                <div class="star-ratings-top"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                <div class="star-ratings-bottom"><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></div>
            </div>*@
            <div style="margin-top:15px;font-size:15px;max-width:90%">
                <p class="book-description"> @book.Description</p>
            </div>
        </div>
    </div>
}



