@model IList<CMBooks.BusinessLogic.Models.BookViewModel>
@{
    ViewBag.Title = "Home Page";
    if (Session["UserId"] == null)
    {
        Response.Redirect("~/Account/Index");
    }

}
@Styles.Render("~/Content/books-gallery")
@Styles.Render("~/Content/rating")
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
        height: 80px;
    }

    li {
        float: left;
    }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            li a:hover:not(.active) {
                background-color: #111;
            }

    .active {
        background-color: #4CAF50;
    }
</style>
<div class="grid-container">
    <div class="header">

        <ul>
            <li><a href="">CMBooks</a></li>
        </ul>
        @*<p style="float:left;font-size:30px;"> CMBooks</p>
            <button style=" background-color: transparent;color: black;border:transparent;float:right;font-size:20px">Sign out</button>*@
    </div>

    <div class="left" style="background-color:#aaa;">
        <button class="filter-button" onclick="filter('')">All</button>
        <button class="filter-button" onclick="filter('Romantic')">Romantic</button>
        <button class="filter-button" onclick="filter('Mistery')">Mistery</button>
        <button class="filter-button" onclick="filter('Horror')">Horror</button>
    </div>
    <div class="middle" style="background-color:#bbb;">
        <div id="partial-view">
            @Html.Partial("_BooksGallery", Model)
        </div>
    </div>
    <div id="book-details-container">
        @Html.Partial("_BookDetails", new CMBooks.BusinessLogic.Models.BookViewModel())
    </div>
</div>


@Scripts.Render("~/bundles/books-gallery")

